# Environment
.env
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Testing
.pytest_cache/

# Build
build/
dist/
*.egg-info/